// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {

}

.site-header{
  z-index: +1;
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url(background.jpg);
  background-repeat: no-repeat;

  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

#content {
  padding-left: 10px;
}

@media screen and (min-width: 800px) and (min-width: 800px){
  body {
    background-image: url(background_desktop.jpg);
  }
}